<!-- Developed by: Henry Tu (github.com/henrytwo) -->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <!-- Cover -->
    <section class="header slide changeable" style="background-color: white;">

        <div style="min-height: 100%; z-index: 600; width: 100vw">

            <div id="cover-spacer"></div>
            <div class="cover-content" style="color: black !important; text-align: center; width: 100vw !important;">

                <!--
                <img src="images/deadrobot.png" style="max-width: 400px; width: 60vw">
                -->

                <p class="error-caption">
                    <b>Error 404</b> | Page not found
                </p>

                <a href="/"><button class="btn">Back to Safety!</button></a>

            </div>
        </div>

    </section>

</div>
</body>

</html>
