<!--
(C) 2018-2019 MASSEYHACKS TEAM
Developed by: Henry Tu, Ryan Zhang, David Hui, James Xu
-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/6.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Contacts
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">
            <div class="subsection">
                <h3 class="subsection-caption">Board of Directors</h3>

                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            <b>
                                Brad Awad
                            </b>
                            <br>
                            Teacher (Head of Tech. Department)
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p>
                            <b>
                                Allison Oldfield
                            </b>
                            <br>
                            Teacher (Math & English)
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p>
                            <b>
                                Al Douglas
                            </b>
                            <br>
                            Mentor (Electromechanical Tech/Robotics)
                            <br>
                            Professor at St. Clair College
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p>
                            <b>
                                Sandra Chappus
                            </b>
                            <br>
                            Mentor (Marketing/Finance)
                            <br>
                            Realtor at Coldwell Banker
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p>
                            <b>
                                Roger Chappus
                            </b>
                            <br>
                            Mentor (Engineering)
                            <br>
                            Service Manager for Advance Business Systems
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <p>
                            <b>
                                Remko Brouerius van Nidek
                            </b>
                            <br>
                            Advisor (Engineering)
                        </p>
                    </div>
                </div>
            </div>

            <!--
            <div class="subsection">
                <h3 class="subsection-caption">Social Media</h3>

            </div>-->

            <div class="subsection" style="text-align: center">
                <h3 class="subsection-caption">Contact</h3>
                <form id="contact-form" onsubmit="false">

                    <div style="text-align: left">
                        <label>Email</label>
                        <input id="contact-email" type="email" style="width: 100%" maxlength="100" placeholder="john@smith.com" required>
                        <br>

                        <label>Name</label>
                        <input id="contact-name" type="text" style="width: 100%" maxlength="100" placeholder="John Smith" required>
                        <br>

                        <label>Message</label>
                        <textarea id="contact-message" form="contact-form" maxlength="1500" style="max-width: 600px; width: 100%; min-height: 100px" required></textarea>
                    </div>

                    <button type="submit" class="button btn">Send</button>

                </form>
            </div>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
