<!-- Developed by: Henry Tu-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/1.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        <img src="images/logo/first.png" height="50px">
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div class="subsection">
                <h3 class="subsection-caption">About FIRST</h3>

                <p style="text-align: left;">
                    The mission of FIRST® is to inspire young people to be science and technology leaders and innovators, by engaging them in exciting mentor-based programs that build science, engineering, and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership.
                </p>
            </div>

        </div>
    </section>

    <!-- Very not sketchy -->
    <section class="quote-block" style="background-image: url('images/first/quote1.jpg');">
        <div class="quote-block-inner">
            <div style="height: 50%; width: 100%"></div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">FIRST is more than robots. The robots are a vehicle for students to learn important life skills. Kids often come in not knowing what to expect- of the program nor of themselves. They leave, even after the first season, with a vision, with confidence, and with a sense that they can create their own future.</p>
                <footer style="color: white">Dean Kamen, Founder</footer>
            </blockquote>
        </div>
    </section>

    <section id="content2" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div class="subsection">

                <h3 class="subsection-caption">Seasons and divisions of FIRST</h3>

                <h4>FIRST LEGO League Jr</h4>
                <p style="text-align: left;">
                    This program introduces the principle concepts of STEM to students in the age range of 6 to 10. The program focuses on building interest in science, technology, engineering, and math (STEM) through real-world issues and problems, teams have to research and develop their problem-solving skills and creativity in order to solve these challenges.
                    <br>
                    <br>
                    This year’s mission is MISSION MOON, which transports your team to a place where you make the rules, learn to thrive in a new environment, and explore all that is around you.
                </p>

                <a href="https://www.firstinspires.org/robotics/flljr" target="_blank">
                    <button class="button btn">Learn More</button>
                </a>
                <br>

                <img src="images/first/FLLJR.png" style="max-width: 500px">

                <h4>FIRST LEGO League</h4>
                <p style="text-align: left;">
                    This program challenges teams from ages 9 to 14 (up to 10 team members) to research a real-world problem and develop an original solution. They must design, build, and program a robot using LEGO MINDSTORMS®, and then compete on a table-top playing field. This program helps young students develop critical thinking and team-building skills, basic STEM applications, and even presentation skills, as they must present their solutions with a dash of creativity to judges.
                    <br>
                    <br>
                    This year’s mission is INTO ORBIT, which transports your team into space, where you will explore, challenge, and innovate in the vast expanse of space.
                </p>

                <a href="https://www.firstinspires.org/robotics/fll" target="_blank">
                    <button class="button btn">Learn More</button>
                </a>
                <br>

                <img src="images/first/FLL.png" style="max-width: 500px">

                <h4>FIRST Tech Challenge</h4>
                <p style="text-align: left;">
                    This program challenges students from the grades of 7 to 12 (teams of up to 15 members) to design, build, program, and operate robots to compete in a head-to-head challenge. This program is meant for students to develop STEM skills and practice the principles of engineering. This also encourages students to learn how to share ideas, learn the importance of hard work, and practice innovation. The robot can be programmed using a variety of programming languages, and the teams must raise funds, design and market their own team brand, and take part in community outreach for which they can win awards.    <br>
                    <br>
                    <br>
                    This year’s expedition is ROVER RUCKUS (presented by Qualcomm), which will have teams explore STEM concepts through a challenging, and out-of-this-world space-themed game.
                </p>

                <a href="https://www.firstinspires.org/robotics/ftc" target="_blank">
                    <button class="button btn">Learn More</button>
                </a>
                <br>

                <img src="images/first/FTC.png" style="max-width: 500px">

                <h4>FIRST Robotics Competition</h4>
                <p style="text-align: left;">
                    This competition is the ultimate STEM competition for high school students. With strict rules and regulations, limited resources, and a six-week time limit, teams are under intense pressure. Students are challenged to raise funds, design a team brand, and work as a team to accomplish their goal, which is to build and program industrial-size robots to play a difficult field game against competitions who can soon become your alliances. It’s the closest you can get to real world engineering.
                    <br>
                    <br>
                    This year’s expedition is DESTINATION: DEEP SPACE (presented by the Boeing  Company), which travels to the outer limits of the universe, testing the boundaries. The 2019 FIRST Robotics Competition season will officially kick off in January 2019.
                </p>

                <a href="https://www.firstinspires.org/robotics/frc" target="_blank">
                    <button class="button btn">Learn More</button>
                </a>
                <br>

                <img src="images/first/FRC.png" style="max-width: 500px">

            </div>
        </div>
    </section>

    <!-- Very not sketchy -->
    <section class="quote-block" style="background-image: url('images/first/quote2.jpg');">
        <div class="quote-block-inner">
            <div style="height: 50%; width: 100%"></div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders</p>
                <footer style="color: #FFFFFF">Dean Kamen, Founder</footer>
            </blockquote>
        </div>
    </section>


    <% include ../components/footer %>

</div>
</body>

</html>
