<!--
(C) 2018-2019 MASSEYHACKS TEAM
Developed by: Henry Tu, Ryan Zhang, David Hui, James Xu
-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body>

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/bg.png);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        We really like robots.
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
            bblab blah<br>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
