<!--
(C) 2018-2019 MASSEYHACKS TEAM
Developed by: Henry Tu, Ryan Zhang, David Hui, James Xu
-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body>

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/1.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        We really like robots.
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">
            <h3 style="font-family: 'Avenir Next Bold'; text-align: center;">About FIRST</h3>

            <p style="text-align: left;">
                Talk about first in a few summaries
                HAVE PICTURES N STUFF
                And a link to their website
                Team 4903 competes in the FIRST Robotics Competitions and are excited!!! Happy!!! Idk, just talk about how stem changes things for us???
                Have a few quotes from alumni???
            </p>

            <h3 style="font-family: 'Avenir Next Bold'; text-align: center;">Seasons and stuff</h3>

            <p style="text-align: left;">
                Basically give a short summary for FTC, FLL, FRC, and all that (with links!!!)
                Give a short summary for each year (going back to as long as we’ve competed, tell me when you get to this part i’ll get you perms for averything, just like, remind me pls im very forgetful), our logo, how we did, and all that
            </p>

            <h3 style="font-family: 'Avenir Next Bold'; text-align: center;">How to join</h3>

            <p style="text-align: left;">
                It’s a very, easy peasy lemon squeezy process!! Just have $7,500 on hand for each season! Find respectable and good sponsors!!! We’re not even kidding!!!
                Mention fees(?)
                Link to the first website. Again. But for like the different divisions of stuff and yea
                This should be a rather short page, with just a bunch of links and sorta cool looking pictues and short paragraphs
                Should we have a step by step thing??? Idk, we’ll have to figure out the technicalities of all that
            </p>

            <img src="https://pbs.twimg.com/media/C8p3vdfVYAAAdoe.jpg">

        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
