<!-- Developed by: Henry Tu (github.com/henrytwo) -->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <!-- Cover -->
    <section  id="page-header" class="header slide changeable" style="background-color: black; background-image: url(images/bg.jpg);">

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">
            <% include ../components/navbar %>
            <% include ../components/overlay %>

            <div style="min-height: 100%; z-index: 600;" class="container">

                <div id="cover-spacer"></div>
                <div class="cover-content">

                    <p id="main-caption">
                        4903 Mustangs<br>
                    </p>

                    <p id="date-time">
                        Vincent Massey Robotics Team
                    </p>

                    <br>

                    <p id="time-caption">Countdown to build season</p>
                    <p id="time-left">
                        T - 00:00:00:00
                    </p>
                </div>
            </div>

            <div id="mouse" style="width: 100%; height: 100%; position: absolute; margin: auto; left: calc(50% - 18px) ; right: 0; bottom: 0; top: 160%;">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="content" class="slide slide-free container-fluid changeable">
        <div id="mh-returns" class="container">
            <div class="row" style="align-items: center;">
                <div class="col-md-5" id="description">

                    <h3 class="subsection-caption">About Our Team</h3>
                    <br>
                    <p style="text-align: left;">
                        Ever since our team was established in 2013, we’ve competed in a wide range of events throughout the years. During our latest season (2017-2018, FIRST Power Up), we competed in two of Ontario’s district competitions (Barrie, London), before moving on to provincials. Finally, we advanced to the World Championship in Detroit, competing in the Curie Subdivision. Throughout the season our success was not only demonstrated by means of play, as we won the Industrial Design award twice!
                    </p>

                </div>
                <div class="col-md-7">
                    <div class="img-wrapper shadow" id="about-image">
                        <img src="images/robot.jpg" class="img-fluid scaleonhover" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="missionstatement" class="quote-block" style="background-image: url('images/quote.jpg');">
        <div class="quote-block-inner">
            <div style="height: 50%; width: 100%"></div>
            <blockquote class="blockquote text-center">
                <p class="mb-0">"Vincent Massey’s aim is to allow people with different interests to come together and achieve a common <span id="awad">goal</span> with teamwork and social communication.”</p>
                <footer class="blockquote-footer">Vincent Massey S.S. Mission Statement</footer>
            </blockquote>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112529950-1"></script>
<script>

    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }

    var buildSeasonStart = new Date("Jan 5, 2019 10:00:00").getTime();
    var buildSeasonEnd = new Date("Feb 19, 2019 23:59:59").getTime();
    //var buildSeasonStart = new Date("Nov 2, 2018 22:01:00").getTime();
    //var buildSeasonEnd = new Date("Nov 2, 2018 22:01:30").getTime();

    var x = setInterval(function() {

        var now = new Date().getTime();

        var countDownDate = buildSeasonStart - now > 0 ? buildSeasonStart : buildSeasonEnd;

        var distance = countDownDate - now;

        if (buildSeasonStart - now <= 0 && buildSeasonEnd - now > 0) {
            document.getElementById("time-caption").innerHTML = "Time left in build season";
        } else if (buildSeasonEnd - now <= 0) {
            document.getElementById("time-caption").innerHTML = "Build Season is Over!";
        }

        if (distance < 0) {
            clearInterval(x);
        } else {
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("time-left").innerHTML = "<b>T - " + pad(days, 2) + ":" + pad(hours, 2) + ":" + pad(minutes, 2) + ":" + pad(seconds, 2) + "</b>";
        }
    }, 1000);



  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112529950-1');
</script>


</html>
