<!--
(C) 2018-2019 MASSEYHACKS TEAM
Developed by: Henry Tu, Ryan Zhang, David Hui, James Xu
-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/7.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Media
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div class="subsection">
                <h3 class="subsection-caption">2018 Season</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="img-wrapper shadow">
                            <img class="competition-image img-fluid scaleonhover" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
