<!-- Developed by: Henry Tu (github.com/henrytwo) -->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/gallery/2016/3.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Our Sponsors
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div id="sponsors" class="subsection">
                <h3 class="subsection-caption">2018 Sponsors</h3>

                <div class="gold">
                    <a href="http://www.rekointl.com/" target="_blank">
                        <img src="images/sponsors/2018/reko.jpg">
                    </a>

                    <a href="http://www.radixinc.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/radix.png">
                    </a>

                    <a href="http://www.buildamold.com/" target="_blank">
                        <img src="images/sponsors/2018/bam-logo.png">
                    </a>

                    <a href="http://www.zion-rc.com/" target="_blank">
                        <img src="images/sponsors/2018/zion.png">
                    </a>

                    <a href="https://www.cntrline.com/" target="_blank">
                        <img src="images/sponsors/2018/centreline.png">
                    </a>

                    <a href="https://www.tregaskiss.com/" target="_blank">
                        <img src="images/sponsors/2018/tregaskiss.jpg">
                    </a>

                    <a href="https://www.gm.com/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/General_Motors_logo.svg.png">
                    </a>

                    <a href="https://www.valianttms.com/" target="_blank">
                        <img src="images/sponsors/2018/valiant.jpg">
                    </a>

                    <a href="https://www.firstinspires.org/" target="_blank">
                        <img src="images/sponsors/2018/first robotics.png">
                    </a>

                    <a href="https://www.coldwellbanker.ca/" target="_blank">
                        <img src="images/sponsors/2018/coldwell banker.png">
                    </a>

                    <a href="http://www.stclaircollege.ca/" target="_blank">
                        <img src="images/sponsors/2018/st. clair college.jpg">
                    </a>

                    <a href="http://www.advancebusiness.net/wp/" target="_blank">
                        <img src="images/sponsors/2018/advance business systems.jpg">
                    </a>

                    <a href="https://www.bravecs.com/" target="_blank">
                        <img src="images/sponsors/2018/brave.png">
                    </a>

                    <a href="http://dakkotasystems.com/dakkota/" target="_blank">
                        <img src="images/sponsors/2018/logo-final.png">
                    </a>

                    <a href="#" target="_blank">
                        <img src="images/sponsors/2018/trqss.jpg">
                    </a>

                    <a href="https://www.fcagroup.com/en-US/Pages/home.aspx" target="_blank">
                        <img src="images/sponsors/2018/fca - fiat chrysler automobiles.png">
                    </a>

                    <a href="http://www.uwindsor.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/uni of windsor.png">
                    </a>

                    <a href="http://www.electrozad.com/" target="_blank">
                        <img src="images/sponsors/2018/electrozad.png">
                    </a>
                </div>

                <br>
                <h3 class="subsection-caption">2017 Sponsors</h3>

                <div class="gold">

                    <a href="https://www.gm.com/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/General_Motors_logo.svg.png">
                    </a>

                    <a href="http://www.stclaircollege.ca/" target="_blank">
                        <img src="images/sponsors/2018/st. clair college.jpg">
                    </a>

                    <a href="http://www.radixinc.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/radix.png">
                    </a>

                    <a href="https://www.lowes.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2016/lowes.png">
                    </a>

                    <a href="https://www.tregaskiss.com/" target="_blank">
                        <img src="images/sponsors/2018/tregaskiss.jpg">
                    </a>

                    <a href="https://www.bravecs.com/" target="_blank">
                        <img src="images/sponsors/2018/brave.png">
                    </a>

                    <a href="https://www.cntrline.com/" target="_blank">
                        <img src="images/sponsors/2018/centreline.png">
                    </a>

                    <a href="http://www.advancebusiness.net/wp/" target="_blank">
                        <img src="images/sponsors/2018/advance business systems.jpg">
                    </a>

                    <a href="http://www.buildamold.com/" target="_blank">
                        <img src="images/sponsors/2017/buildamold.png">
                    </a>

                    <a href="https://www.premiercadillac.com/" target="_blank">
                        <img src="images/sponsors/2016/dankane.png">
                    </a>

                </div>

                <br>
                <h3 class="subsection-caption">2016 Sponsors</h3>

                <div class="gold">

                    <a href="https://www.gm.com/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/General_Motors_logo.svg.png">
                    </a>

                    <a href="http://www.stclaircollege.ca/" target="_blank">
                        <img src="images/sponsors/2018/st. clair college.jpg">
                    </a>

                    <a href="http://www.radixinc.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2018/radix.png">
                    </a>

                    <a href="https://www.lowes.ca/" target="_blank">
                        <img class="scaledownSponsor" src="images/sponsors/2016/lowes.png">
                    </a>

                    <a href="https://www.tregaskiss.com/" target="_blank">
                        <img src="images/sponsors/2018/tregaskiss.jpg">
                    </a>

                    <a href="https://www.bravecs.com/" target="_blank">
                        <img src="images/sponsors/2018/brave.png">
                    </a>

                    <a href="https://www.cntrline.com/" target="_blank">
                        <img src="images/sponsors/2018/centreline.png">
                    </a>

                    <a href="http://www.advancebusiness.net/wp/" target="_blank">
                        <img src="images/sponsors/2018/advance business systems.jpg">
                    </a>

                    <a href="https://www.fcagroup.com/en-US/Pages/home.aspx" target="_blank">
                        <img src="images/sponsors/2018/fca - fiat chrysler automobiles.png">
                    </a>

                    <a href="https://www.premiercadillac.com/" target="_blank">
                        <img src="images/sponsors/2016/dankane.png">
                    </a>

                </div>

            </div>

            <br>
            
            <div class="subsection">
                <h3 class="subsection-caption">Sponsorship Package</h3>

                <br>
                <a href="files/sponsorship.pdf" target="_blank">
                    <button class="button btn">Download</button>
                </a>
                <br>
                <br>
            </div>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
