<!-- Developed by: Henry Tu-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/3.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Sponsorship
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div id="sponsors" class="subsection">
                <h3 class="subsection-caption">2018 Sponsors</h3>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/reko.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/radix.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/bam-logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/zion.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/centreline.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/tregaskiss.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/General_Motors_logo.svg.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/valiant.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/first robotics.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/coldwell banker.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/st. clair college.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/advance business systems.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/brave.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/logo-final.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/trqss.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/fca - fiat chrysler automobiles.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/uni of windsor.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="sponsor">
                            <a href="#" target="_blank">
                                <img src="images/sponsors/2018/electrozad.png">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="subsection">
                <h3 class="subsection-caption">Sponsorship Package</h3>

                <br>
                <a href="files/sponsorship.pdf" target="_blank">
                    <button class="button btn">Download</button>
                </a>
                <br>
                <br>

                <p style="text-align: left;">
                    It may be hard to believe, but the Vincent Massey Robotics Team 4903 is now five years old!
                    And yet again, we’ve been hard at work continuing to grow our team and finding new ways to make it
                    more sustainable for our school. This year, we’ve introduced two new courses for students to take as
                    part of their high school credits where they will be learning about and working on all aspects of our
                    robot, in the hopes that we will be able to build more competitive robots while also teaching more of
                    our students about all the inner workings involved!
                </p>


            </div>




        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
