<!-- Developed by: Henry Tu (github.com/henrytwo) -->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/8.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        STEMDAY
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div id="sponsors" class="subsection">
                <h4 style="text-align: center !important;">Thank you to our</h4>
                <h3 class="subsection-caption">2018 STEMDAY Sponsors</h3>
                <div class="gold">
                    <img src="images/sponsors/stem/subway.jpg">
                    <img src="images/sponsors/stem/mastermind.jpg">
                    <img src="images/sponsors/stem/cmr.png">
                    <img src="images/sponsors/stem/microsoft.png">
                    <img src="images/sponsors/stem/massey.jpg" style="padding: 30px">
                </div>

                </div>

            </div>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
