<!-- Developed by: Henry Tu (github.com/henrytwo) -->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body style="background: rgb(240, 240, 240);">

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/2.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Our Team
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div class="subsection">
                <h3>An introduction</h3>

                <p style="text-align: left">
                    Our team, Mustangs 4903, was founded in 2013-2014 with the help of a vice-principal from Sandwich Secondary School (Team 772) who moved to Massey.
                    In our beginning years, we only competed in local events. However, in 2015, we won playoffs and advanced to Worlds.
                    During the season of 2018, we competed in Barrie, London, and Mississaugua, before competing at Worlds in the Curie Division.
                    <br>
                    <br>
                    Each year, we strive to improve from the foundations of our previous season.
                    With the aid of our wonderful mentors and teachers, many of our alumni have graduated to take part in various STEM related programs.
                    Many of our mentors are provided by our sponsors and student connections.
                    <br>
                    <br>
                    Within our team, we value determination, initiative, and creativity no matter which part of team you’re on.
                    <br>
                    <br>
                    A common driving force behind our team members is the thrill of competition, invention, and developing skills that one wouldn't usually learn in everyday classes.
                </p>
            </div>

            <div class="subsection">
                <h3>Community Connections</h3>
                <p style="text-align: left">
                    In the community, not only do we mentor students already part of FLL teams, but we showcase our robot at local feeder schools through demonstrations to encourage (further participation in STEM).
                    We show them what kind of community they can be a part of, and what feats they can accomplish through joining any FRC team.
                    Many of our mentors come from connections provided through students and sponsors alike.
                </p>
            </div>

            <div id="competitionsandawards" class="subsection">
                <h3>Competitions</h3>

                <div id="deepspace" class="season">
                    <h4>
                        <b>Destination: Deep Space | 2019 Season</b>
                    </h4>

                    <!--
                    <h5>
                        W:35 / L:25 / T:1 (Overall)<br>
                        28th Place, Ontario District
                    </h5>-->

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District Georgian College Event
                                </h1>
                                <h4>
                                    Barrie, ON, Canada
                                </h4>
                                <p style="margin-bottom: 0">
                                    March 15th 2019 - March 17th, 2019
                                </p>

                                <!--
                                <hr>
                                <p>
                                    <b>Rank: 38th</b><br>
                                    W:5 / L:4 / T:1<br>
                                </p>-->
                            </div>
                            <!--
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                                </div>
                                <p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>
                            </div>-->
                        </div>
                    </div>

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District Windsor Essex Great Lakes Event
                                </h1>
                                <h4>
                                    Windsor, ON, Canada
                                </h4>
                                <p style="margin-bottom: 0">
                                    March 28th 2019 - March 30th, 2019
                                </p>

                                <!--
                                <hr>
                                <p>
                                    <b>Rank: 38th</b><br>
                                    W:5 / L:4 / T:1<br>
                                </p>-->
                            </div>
                            <!--
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                                </div>
                                <p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div id="powerup" class="season">
                    <h4>
                        <b>FIRST Power Up | 2018 Season</b>
                    </h4>
                    <h5>
                        W:35 / L:25 / T:1 (Overall)<br>
                        28th Place, Ontario District
                    </h5>

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District Georgian College Event
                                </h1>
                                <h4>
                                    Barrie, ON, Canada
                                </h4>
                                <p>
                                    March 2nd, 2018 - March 4th, 2018
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 2nd</b><br>
                                    W:12 / L:5 / T:0<br>
                                </p>
                                <hr>
                                <p>
                                    <b>Awards</b><br>
                                    The Industrial Design Award (Sponsored by General Motors)
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2018.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District Western University, Western Engineering Event
                                </h1>
                                <h4>
                                    London, ON, Canada
                                </h4>
                                <p>
                                    April 6th, 2018 - April 8th, 2018
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 6th</b><br>
                                    W:14 / L:6 / T:0<br>
                                </p>
                                <hr>
                                <p>
                                    <b>Awards</b><br>
                                    The Industrial Design Award (Sponsored by General Motors)<br>
                                    District Event Winner<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2018B.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    FIRST Ontario Provincial Championship - Science Division
                                </h1>
                                <h4>
                                    Mississauga, ON, Canada
                                </h4>
                                <p>
                                    April 11th, 2018 - April 14th, 2018
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 26th</b><br>
                                    W:4 / L:10 / T:0<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2018C.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    FIRST World Championship - Curie Division
                                </h1>
                                <h4>
                                    Detroit, MI, USA
                                </h4>
                                <p>
                                    April 25th 2018 - April 28th 2018
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 38th</b><br>
                                    W:5 / L:4 / T:1<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2018D.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div id="steamworks" class="season">
                    <h4>
                        <b>FIRST Steamworks | 2017 Season</b>
                    </h4>
                    <h5>
                        W:11 / L:19 / T:0 (Overall)<br>
                        29th Place, Ontario District
                    </h5>

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District - Windsor Essex Great Lakes Event
                                </h1>
                                <h4>
                                    Windsor, ON, Canada
                                </h4>
                                <p>
                                    March 20th 2017 - April 1st 2017
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 19th</b><br>
                                    W:5 / L:9 / T:0<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2017B.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    ONT District - University of Waterloo Event
                                </h1>
                                <h4>
                                    Waterloo, ON, Canada
                                </h4>
                                <p>
                                    March 23rd 2017 - March 25th 2017
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 27th</b><br>
                                    W:6 / L:10 / T:0<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2017.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>

                </div>

                <div id="stronghold" class="season">
                    <h4>
                        <b>FIRST Stronghold | 2016 Season</b>
                    </h4>
                    <h5>
                        W:3 / L:8 / T:0 (Overall)
                    </h5>

                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    Windsor Essex Great Lakes Regional
                                </h1>
                                <h4>
                                    Windsor, ON, Canada
                                </h4>
                                <p>
                                   April 6th 2016 - April 9th 2016
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 19th</b><br>
                                    W:5 / L:9 / T:0<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2016.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div id="recyclerush" class="season">
                    <h4>
                        <b>Recycle Rush | 2015 Season</b>
                    </h4>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    Windsor Essex Great Lakes Regional
                                </h1>
                                <h4>
                                    Windsor, ON, Canada
                                </h4>
                                <p>
                                    April 1st 2015 - April 4th 2015
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 31st</b><br>
                                    Average qualification score: 66.90<br>
                                    Average playoff score: 232.71<br>
                                </p>
                                <hr>
                                <p>
                                    <b>Awards</b><br>
                                    Regional Winner
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2015B.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    Newton Division
                                </h1>
                                <h4>
                                    St. Louis, MO, USA
                                </h4>
                                <p>
                                    April 22nd 2015 - April 25th 2015
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 44th</b><br>
                                    Average qualification score: 116.30
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2015.jpg">
                                </div>
                                <!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aerialassist" class="season">
                    <h4>
                        <b>Aerial Assist | 2014 Season</b>
                    </h4>
                    <h5>
                        W:4 / L:7 / T:0 (Overall)
                    </h5>
                    <div class="competition">
                        <div class="row">
                            <div class="col col-sm-8" class="competition-content">
                                <h1>
                                    Windsor Essex Great Lakes Regional
                                </h1>
                                <h4>
                                    Windsor, ON, Canada
                                </h4>
                                <p>
                                    April 3rd 2014 - April 5th 2014
                                </p>
                                <hr>
                                <p>
                                    <b>Rank: 34th</b><br>
                                    W:4 / L:7 / T:0<br>
                                </p>
                            </div>
                            <div class="col col-sm-4">
                                <div class="img-wrapper shadow">
                                    <img class="competition-image img-fluid" src="images/competitions/2014.jpg">
                                </div>
                                <!--<!--<p style="margin-top: 10px; text-align: center">
                                    Geese munching on humans
                                </p>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
