<!--
(C) 2018-2019 MASSEYHACKS TEAM
Developed by: Henry Tu, Ryan Zhang, David Hui, James Xu
-->
<!DOCTYPE html>
<html lang="en">

<% include ../components/header %>

<body>

<div id="cover" class="wrapper">

    <section id="page-header" class="page-cover slide changeable" style="background-color: black; background-image: url(images/slide/2.jpg);">

        <% include ../components/navbar %>

        <div style="background-color: rgba(0, 0, 0, 0.65); height: 100%">

            <% include ../components/overlay %>

            <div style="z-index: 600;" class="container">

                <div class="page-spacer"></div>
                <div class="page-content">

                    <p class="page-caption">
                        Our Team
                    </p>

                </div>

            </div>

        </div>
    </section>

    <section id="content" class="slide slide-free container-fluid changeable">
        <div class="container">

            <div class="subsection">
                <h3>An introduction</h3>

                <p style="text-align: left">
                    Our team, Mustangs 4903, was founded in 2013-2014 with the help of a vice-principal from Sandwich Secondary School (Team 772) who moved to Massey.
                    In our beginning years, we only competed in local events. However, in 2015, we won playoffs and advanced to Worlds.
                    During the season of 2018, we competed in Barrie, London, and Mississaugua, before competing at Worlds in the Curie Division.
                    <br>
                    <br>
                    Each year, we strive to improve from the foundations of our previous season.
                    With the aid of our wonderful mentors and teachers, many of our alumni have graduated to take part in various STEM related programs.
                    Many of our mentors are provided by our sponsors and student connections.
                    <br>
                    <br>
                    Within our team, we value determination, initiative, and creativity no matter which part of team you’re on.
                    <br>
                    <br>
                    A common driving force behind our team members is the thrill of competition, invention, and developing skills that one wouldn't usually learn in everyday classes.
                </p>
            </div>

            <div class="subsection">
                <h3>Community Connections</h3>
                <p style="text-align: left">
                    In the community, not only do we mentor students already part of FLL teams, but we showcase our robot at local feeder schools through demonstrations to encourage (further participation in STEM).
                    We show them what kind of community they can be a part of, and what feats they can accomplish through joining any FRC team.
                    Many of our mentors come from connections provided through students and sponsors alike. asdfasd
                </p>
            </div>

            <div id="competitionsandawards" class="subsection">
                <h3>Competitions and Awards</h3>

                <h4>
                    <b>Power Up | 2018 Season</b>
                </h4>
                <h5>
                    W:123 / L:123 / T:123 (Overall)
                </h5>
                <div class="competition">
                    <div class="row">
                        <div class="col col-sm-8" class="competition-content">
                            <h1>
                                University of Waterloo
                            </h1>
                            <h3>
                                Waterloo, Ontario
                            </h3>
                            <p>
                                Jan 1, 2018 - Jan 3, 2018
                            </p>
                            <hr>
                            <p>
                                <b>Rank: 0th</b><br>
                                W:34 / L:2342 / T:-32<br>
                            </p>
                            <hr>
                            <p>
                                <b>Awards</b><br>
                                Most Goose Friendly Robot (Sponsored by Waterloo Engineering)
                            </p>
                        </div>
                        <div class="col col-sm-4">
                            <img class="competition-image" src="https://www.narcity.com/uploads/273333_d6a864d4edbe6ffe035f627d270c3f54cc6c5116.jpg_facebook.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <% include ../components/footer %>

</div>
</body>

</html>
