<section id="footer">
    <div id="footer-spacer"></div>
    <div id="footer-content" class="container">
        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <ul class="footer-quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="team">Our Team</a></li>
                    <li><a href="sponsorship">Sponsorship</a></li>
                    <li><a href="media">Media</a></li>
                    <li><a href="contacts">Contacts</a></li>
                    <li><a href="first"><i>FIRST</i></a></li>
                </ul>

                <ul style="padding: 0; list-style-type: none">
                    <li class="overlay-social-object" style="margin-left: 0"><a href="mailto:masseyrobotics4903@gmail.com" target="_blank"><i class="fa fa-envelope navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="overlay-social-object"><a href="https://www.facebook.com/VincentMasseyRoboticsTeam/" target="_blank"><i class="fab fa-facebook-f navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="overlay-social-object"><a href="https://www.twitter.com/frc4903" target="_blank"><i class="fab fa-twitter navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                    <li class="overlay-social-object"><a href="https://www.instagram.com/frc4903/" target="_blank"><i class="fab fa-instagram navsocial" style="font-size: 20px" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-md-5">
                <div id="footer-about" >
                    <h2 style="margin-top: 0">4903 Mustangs</h2>

                    <p id="footer-address" style="color: rgb(50, 50, 50)">
                        Vincent Massey Secondary School<br>
                        1800 Liberty St<br>
                        Windsor, ON N9E 1J2
                    </p>
                </div>

                <p id="copyright">
                   Copyright &copy; <span id="year">2018</span>
                </p>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>
</section>