<div id="mobile-overlay" class="overlay overlay-dark">
    <ul class="overlay-list">
        <li><a href="#header" class="js-navbar-link scrollLink overlayLink">Home</a></li>
        <li><a href="#about" class="js-navbar-link scrollLink overlayLink">About</a></li>
        <li><a href="#faq" class="js-navbar-link scrollLink overlayLink">Questions</a></li>
        <!--<li><a href="#schedule" class="js-navbar-link scrollLink overlayLink">Schedule</a></li>-->
        <li><a href="#sponsors" class="js-navbar-link scrollLink overlayLink">Sponsors</a></li>
        <!--<li><a href="https://register.masseyhacks.ca/">Login</a></li>-->
    </ul>
</div>