<div id="mobile-overlay" class="overlay overlay-dark">
    <ul class="overlay-list">

        <li><a href="/">Home</a></li>
        <li><a href="sponsors">Our Sponsors</a></li>
        <li><a href="team">Our Team</a></li>
        <li><a href="first"><i>FIRST</i></a></li>
        <li><a href="stemday">STEM Day</a></li>
        <li><a href="photos">Photo Gallery</a></li>
        <li><a href="contacts">Contact Us</a></li>

    </ul>
</div>