<div id="mobile-overlay" class="overlay overlay-dark">
    <ul class="overlay-list">
        <li><a href="/">Home</a></li>
        <li><a href="team">Our Team</a></li>
        <li><a href="first">FIRST</a></li>
        <li><a href="sponsorship">Sponsorship</a></li>
        <li><a href="photos">Photo Gallery</a></li>
        <li><a href="contacts">Contacts</a></li>

        
    </ul>
</div>